footer {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    background-color: hsl(168, 46%, 56%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    .logo img {
        filter: invert(40%) sepia(7%) saturate(5835%) hue-rotate(120deg) brightness(50%) contrast(71%);
        // -webkit-mask-image: url("./images/logo.svg");
        // mask-image: url("./images/logo.svg");
    }

    .list {
        color: hsl(167, 40%, 24%);
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-family: 'Barlow', sans-serif;
    }

    .social_media_logos {
        padding-top: 1.875rem;
        margin: auto;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    @media screen and (min-width: 800px) {
        .list {
            justify-content: center;
            gap: 2.8125rem;

            p {
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }

        .social_media_logos {
            justify-content: center;
            gap: 1.5625rem;

            img {
                cursor: pointer;
                // background:none;

                &:hover {
                    filter:  brightness(0) invert(1);
                }
            }
        }
    }
}