@import "./variables";

header {
    position: relative;
    // background-image: url("../images/mobile/image-header.jpg");
    // background-size: 100%;
    // background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    // height: 100%;
    
    .header_img{
        width: 100%;
        height: 100%;
    }

    .desktop_nav {
        display: none;
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0%, 0%);
        padding: 0.9375rem;
        padding-left: 2.5rem;
    }

    
    

    .logo_and_hamburger {
        margin-top: 0.8125rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        img {
            height: min-content;
        }

        .hamburger_btn {
            margin-right: 1.25rem;
        }
    }

    .h1_text_and_arrow {
        margin-top: 3.75rem;
        margin-bottom: 8.75rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0%, 10%);
        padding: 0.9375rem;
        // display: flex;
        // flex-direction: column;
        align-items: center;
        gap: 1.875rem;

        h1 {
            text-transform: uppercase;
            color: #fff;
            font-weight: 900;
            font-size: 2rem;
            letter-spacing: 0.4375rem;
            text-align: center;
        }

        img {

            height: min-content;
        }
    }
    
    .display_col {
        display: flex;
        flex-direction: column;
    }

    .dropdown__menu {
        position: absolute;
        text-align: center;
        gap: 1.875rem;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 90%;
        transform: translate(5%, 30%);
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        color: $dropdownCol;
        font-family: 'Barlow', sans-serif;

        .triangle {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(0%, -80%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 2.5rem 2.5rem;
            border-color: transparent transparent #ffff transparent;

        }

        #contact {
            text-transform: uppercase;
            color: #1f1f1f;
            font-family: 'Fraunces', serif;
            background-color: hsl(51, 100%, 49%);
            border-radius: 1.75rem;
            padding: 0.9375rem;
            font-size: 0.8125rem;
        }

        .nav__content {
            margin: auto;
            width: min-content;
        }
    }

    @media screen and (min-width: 800px) {
        .hamburger_btn {
            display: none;
        }

        nav {
            justify-content: space-between;
            align-items: flex-start;
        }

        .logo_and_hamburger {
            align-items: center;
            width: min-content;
            // padding-left: 40px;
        }

        .desktop_nav {
            // margin-top: 0.625rem;
            
            display: flex;
            justify-content: space-around;
            text-align: center;
            align-items: center;
            max-width: 31.25rem;
            width: 100%;
            color: #fff;
            font-family: 'Barlow', sans-serif;
            
            p {
                cursor: pointer;
            }

            #contact_2 {
                text-transform: uppercase;
                color: #1f1f1f;
                font-family: 'Fraunces', serif;
                background-color: #fff;
                border-radius: 1.75rem;
                padding: 0.9375rem;
                font-size: 0.8125rem;

                &:hover {
                    color: #fff;
                    // background-color: hsl(198deg, 62%, 26%, 0);
                    background-color: rgba(255,255,255,0.5);
                    // background-color: rgba(62, 191, 255, 1.4);
                }
            }
        }

        nav {
            display: flex;
        }

        .h1_text_and_arrow {
            margin-top: 8.125rem;
        }
    }


}

