@import "./variables";

.header-img {
    background-image: url("../images/mobile/image-header.jpg");
    height: 87%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;

    .logo-and-hamburger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1.3rem 0 1.3rem;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: white;
        padding: 0 0.8rem 0 0.8rem;
        font-size: 2.6rem;
    }

    .header-content {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        height: 100%;
        // justify-content: center;
    }

    .dropdown-menu::before {
        content: "";
        position: absolute;
        top: -19px;
        right: -20px;
        border: 20px solid transparent;
        border-left-color: white;
        transform: rotate(45deg);
    }

    .dropdown-menu {
        position: absolute;
        top: 20%;
        left: 22px;
        right: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        padding: 40px;
        // box-shadow: 0 10px 40px hsl(0deg 0% 0% / 10%);
        background-color: white;
        color: hsl(213, 9%, 39%);
        font-family: 'Barlow', sans-serif;
        list-style-type: none;
        font-size: 1.125rem;
        transition: 0.25s ease-in-out;

        li:last-child {
            // margin-top: 0.5rem;
            // margin-bottom: 1rem;
            text-transform: uppercase;
            color: #1f1f1f;
            font-family: 'Fraunces', serif;
            background-color: hsl(51, 100%, 49%);
            border-radius: 1.75rem;
            font-size: 0.95rem;
            padding: 0.9375rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    
    }

    .logo-and-btns {
        display: none;
    }

    @media screen and (min-width: 550px) {
        height: 100%;
    }

    @media screen and (min-width: 768px) {
        height: 87%;
        background-image: url("../images/desktop/image-header.jpg");
        
        .logo-and-hamburger {
            display: none;
        }

        .logo-and-btns {
            display: flex;
            justify-content: space-between;
            // align-items: flex-start;
            width: 100%;
            padding: 1.5rem 1.3rem 0 1.3rem;
            align-items: center;
            img {
                width: 10.625rem;
            }
        }

        .desktop_nav {
            // margin-top: 0.625rem;
            list-style-type: none;
            display: flex;
            // justify-content: space-around;
            text-align: center;
            align-items: center;
            // max-width: 33.25rem;
            // width: 100%;
            gap: 3rem;
            color: #fff;
            font-family: 'Barlow', sans-serif;
            font-size: 1.125rem;
            
            li {
                cursor: pointer;
            }

            .underline_p {
                display: inline-block;
                position: relative;
                // color: #0087ca;
            }
            
            .underline_p:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 0.125rem;
                bottom: -4px;
                left: 0;
                background-color: #fff;
                transform-origin: bottom right;
                transition: transform 0.5s ease-out;
            }
            
            .underline_p:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            #contact_2 {
                text-transform: uppercase;
                color: #1f1f1f;
                font-family: 'Fraunces', serif;
                background-color: #fff;
                border-radius: 1.75rem;
                padding: 0.9375rem;
                font-size: 0.8125rem;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: #fff;
                    // background-color: hsl(198deg, 62%, 26%, 0);
                    background-color: rgba(255,255,255,0.5);
                    // background-color: rgba(62, 191, 255, 1.4);
                }
            }
        }

        nav {
            display: flex;
        }

        .header-content {
            margin-top: 8.125rem;

            h1 {
                font-size: 3.625rem;
            }
            
        }
    }
}

