.profiles_section {
    text-align: center;
    
    .big_text {
        font-size: 1.125rem;
        color: hsl(210, 4%, 67%);
        text-transform: uppercase;
        letter-spacing: 0.1875rem;
        margin-top: 2.8125rem;
    }
    
    .profile {
        padding: 1.25rem;
        margin-top: 3.75rem;
        display: flex;
        flex-direction: column;
        gap: 2.1875rem;

        p {
            font-family: 'Barlow', sans-serif;
            color: hsl(213, 9%, 39%);
        }

        img {
            width: 4.375rem;
            height: min-content;
            border-radius: 50%;
            margin: auto;
        }

        .name {
            color: hsl(212, 27%, 19%)
        }

        .department {
           margin-top: 0.625rem; 
           font-family: 'Barlow', sans-serif;
           font-size: 0.8125rem;
           color: hsl(210, 4%, 67%);
        }
    }

    .images {
        margin-top: 3.125rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0rem;
        grid-row-gap: 0rem;

        img {
            width: 100%;
            // height: 100%;
            margin-bottom: -0.3125rem;
        }
    }

    @media screen and (min-width: 800px) {
        .display_flex {
            display: flex;
            justify-content: space-around;
            // margin-right: ;
        }

        .profile {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 6.25rem;
            p {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .big_text {
            margin-top: 7.5rem;
        }

        .images {
            img {
                height: 100%;
            }
            display: flex;
        }
    }
}