.photos_and_text_divs {
    width: 100%;

    .text_and_image {
        display: flex;
        flex-direction: column;
    }

    .reverse_div {
        flex-direction: column-reverse;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        text-align: center;
        padding-right: 1.25rem;
        padding-left: 1.25rem;

        p {
            font-family: 'Barlow', sans-serif;
            color: hsl(213, 9%, 39%);
        }
    }
    

    .Big_text {
        width: 100%;
        font-size: 1.75rem;
        color: hsl(212, 27%, 19%)
    }

    .smaller_text {
        color: hsl(212, 27%, 19%);
        text-transform: uppercase;

    }

    .yellow {
        text-decoration-line: underline;
        text-decoration-thickness: 0.1875rem;
        text-decoration-color: hsl(51, 100%, 49%);
    }

    .red {
        text-decoration-line: underline;
        text-decoration-thickness: 3px;
        text-decoration-color: hsl(7, 99%, 70%);
    }

    

    img {
        width: 100%;
        height: 100%;
    }

    .image_and_text_on_it {
        position: relative;
        text-align: center;
        // height: fit-content;

        img {
            width: 100%;
            height: 100%;
            margin-bottom: -0.3125rem;
        }

        .text_on_image {
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;
            width: 100%;
            position: absolute;
            top: 77%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-right: 1.25rem;
            padding-left: 1.25rem;
            
            .green {
                color: hsl(167, 40%, 24%);
            }

            .blue {
                color: hsl(198, 62%, 26%)
            }

            p {
                // font-size: 15px;
                font-family: 'Barlow', sans-serif;
            }
        }
    }

    @media screen and (min-width: 750px) {
        .text_and_image {
            flex-direction: row;
            justify-content: center;
            
            picture {
                flex: 1;
                // max-width: 720px;
                // max-height: 600px;
                // width: 100%;
                // height: 100%;
                // display: inline;
            }

            .Big_text {
                font-size: 2.1875rem;
            }

            .smaller_text {
                cursor: pointer;
            }

            .text {
                flex: 1;
                justify-content: center;
                text-align: left;
                width: 100%;
                // width: 50.4%;
                padding-left: 0;
                padding-right: 0;

                & > * {
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .two_images {
            display: flex;
            width: 100%;

            picture, img {
                flex: 1;
                width: 100%;
                height: 100%;
            }

            

            .text_on_image {

                #big_text {
                    font-size: clamp(0.8rem, 0.8rem + 0.5vw, 1.8rem)
                }

                #div_text {
                    font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.4rem)
                }

                & > * {
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    
                }
            }
        }

    }
}