@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$barlowFont: 'Barlow', sans-serif;
$frauncesFont: 'Fraunces', sans-serif;

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishVlue: hsl(213, 9%, 39%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$grayishBlue: hsl(210, 4%, 67%);
