@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
.header-img {
  background-image: url("../images/mobile/image-header.jpg");
  height: 87%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.header-img .logo-and-hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.3rem 0 1.3rem;
}
.header-img h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  padding: 0 0.8rem 0 0.8rem;
  font-size: 2.6rem;
}
.header-img .header-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  height: 100%;
}
.header-img .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -19px;
  right: -20px;
  border: 20px solid transparent;
  border-left-color: white;
  transform: rotate(45deg);
}
.header-img .dropdown-menu {
  position: absolute;
  top: 20%;
  left: 22px;
  right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 40px;
  background-color: white;
  color: hsl(213deg, 9%, 39%);
  font-family: "Barlow", sans-serif;
  list-style-type: none;
  font-size: 1.125rem;
  transition: 0.25s ease-in-out;
}
.header-img .dropdown-menu li:last-child {
  text-transform: uppercase;
  color: #1f1f1f;
  font-family: "Fraunces", serif;
  background-color: hsl(51deg, 100%, 49%);
  border-radius: 1.75rem;
  font-size: 0.95rem;
  padding: 0.9375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header-img .logo-and-btns {
  display: none;
}
@media screen and (min-width: 550px) {
  .header-img {
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header-img {
    height: 87%;
    background-image: url("../images/desktop/image-header.jpg");
  }
  .header-img .logo-and-hamburger {
    display: none;
  }
  .header-img .logo-and-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 1.3rem 0 1.3rem;
    align-items: center;
  }
  .header-img .logo-and-btns img {
    width: 10.625rem;
  }
  .header-img .desktop_nav {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-size: 1.125rem;
  }
  .header-img .desktop_nav li {
    cursor: pointer;
  }
  .header-img .desktop_nav .underline_p {
    display: inline-block;
    position: relative;
  }
  .header-img .desktop_nav .underline_p:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  .header-img .desktop_nav .underline_p:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .header-img .desktop_nav #contact_2 {
    text-transform: uppercase;
    color: #1f1f1f;
    font-family: "Fraunces", serif;
    background-color: #fff;
    border-radius: 1.75rem;
    padding: 0.9375rem;
    font-size: 0.8125rem;
    transition: 0.3s ease-in-out;
  }
  .header-img .desktop_nav #contact_2:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .header-img nav {
    display: flex;
  }
  .header-img .header-content {
    margin-top: 8.125rem;
  }
  .header-img .header-content h1 {
    font-size: 3.625rem;
  }
}

.grid-div > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.red-img-div {
  position: relative;
}

.orange-img-div {
  position: relative;
}

.red-img-div {
  height: 600px;
}

.red-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.orange-img-div {
  height: 600px;
}

.orange-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.text p {
  font-family: "Barlow", sans-serif;
  color: hsl(213deg, 9%, 39%);
}
.text .smaller_text {
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  cursor: pointer;
}
.text .Big_text {
  width: 100%;
  font-size: 1.85rem;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
}

.yellow::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 10px;
  background-color: hsl(51deg, 100%, 49%);
  border-radius: 8px;
  bottom: -2px;
  opacity: 0.2;
  left: 0px;
  transition: all 500ms ease;
}

.yellow:hover::after {
  opacity: 1;
}

.red::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0.625rem;
  background-color: hsl(7deg, 99%, 70%);
  border-radius: 0.5rem;
  bottom: -0.125rem;
  opacity: 0.2;
  left: 0px;
  transition: all 500ms ease;
}

.red:hover::after {
  opacity: 1;
}

.text_on_image {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5625rem;
  width: 100%;
  max-width: 23.5rem;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.text_on_image .Big_text {
  width: 100%;
  font-size: 1.55rem;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
}
.text_on_image .green {
  color: hsl(167deg, 40%, 24%);
}
.text_on_image .blue {
  color: hsl(198deg, 62%, 26%);
}
.text_on_image p {
  font-family: "Barlow", sans-serif;
}

.reverse {
  display: none;
}

@media screen and (min-width: 768px) {
  .grid-div > img {
    height: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .normal {
    display: none;
  }
  .reverse {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .text {
    text-align: left;
    align-items: center;
    gap: 2rem;
    padding: 60px;
  }
  .text .smaller_text {
    margin-left: 0;
  }
  .glass-text {
    display: flex;
    align-items: center;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .text {
    text-align: left;
    align-items: center;
    padding: 9.6875rem 9.0625rem;
  }
  .text .Big_text {
    font-size: 2.5rem;
  }
  .text p {
    font-size: 1.125rem;
  }
  .text_on_image .Big_text {
    font-size: 1.9rem;
  }
}
.profiles_section {
  text-align: center;
}
.profiles_section .big_text {
  font-size: 1.125rem;
  color: hsl(210deg, 4%, 67%);
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  margin-top: 3.8rem;
  padding: 0 1.3rem 0 1.3rem;
}
.profiles_section .profile {
  padding: 1.25rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.profiles_section .profile p {
  font-family: "Barlow", sans-serif;
  color: hsl(213deg, 9%, 39%);
  padding: 0 1.3rem 0 1.3rem;
}
.profiles_section .profile img {
  width: 4.375rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 50%;
  margin: auto;
}
.profiles_section .profile .name {
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
}
.profiles_section .profile .department {
  margin-top: 0.625rem;
  font-family: "Barlow", sans-serif;
  font-size: 0.8125rem;
  color: hsl(210deg, 4%, 67%);
}
.profiles_section .images {
  margin-top: 3.125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}
.profiles_section .images img {
  width: 100%;
  margin-bottom: -0.3125rem;
}
.profiles_section .display_flex {
  width: 100%;
  max-width: 62.5rem;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .profiles_section .display_flex {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
  }
  .profiles_section .profile {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 6.25rem;
  }
  .profiles_section .profile p {
    margin-left: auto;
    margin-right: auto;
  }
  .profiles_section .big_text {
    margin-top: 7.5rem;
  }
  .profiles_section .images {
    display: flex;
  }
  .profiles_section .images img {
    height: 100%;
  }
}

footer {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: #90D4C5;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
footer .logo img {
  filter: invert(40%) sepia(7%) saturate(5835%) hue-rotate(120deg) brightness(50%) contrast(71%);
}
footer .list {
  color: hsl(168deg, 34%, 41%);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Barlow", sans-serif;
  list-style-type: none;
}
footer .social_media_logos {
  padding-top: 1.875rem;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}
@media screen and (min-width: 800px) {
  footer .list {
    justify-content: center;
    gap: 2.8125rem;
  }
  footer .list a {
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  footer .list a:hover {
    color: white;
  }
  footer .social_media_logos {
    justify-content: center;
    gap: 1.5625rem;
  }
  footer .social_media_logos img {
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  footer .social_media_logos img:hover {
    filter: brightness(0) invert(1);
  }
}

.hidden {
  visibility: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Fraunces", sans-serif;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

main {
  width: 100%;
}/*# sourceMappingURL=style.css.map */