@import "./header";
@import "./section_one";
@import "./section_two";
@import "./footer";
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;
.hidden {
    display: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
}

main {
    // max-width: 1440px;
    width: 100%;   
}